<div class="card">
    <div class="card-header">
        <strong>Filtry</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from">min:</label>
                <input type="number" name="priceMin" class="form-control" [(ngModel)]="filterPrice[0]">
            </div>
            <div class="form-group">
                <label for="to">max:</label>
                <input type="number" name="priceMax" class="form-control" [(ngModel)]="filterPrice[1]">
            </div>        
        </form>
    </div>
</div>
