<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p>
            <a href="" class="btn btn-block btn-twitter"><i class="fab fa-twitter"></i> Login via Twitter</a>
            <a href="" class="btn btn-block btn-facebook"><i class="fab fa-facebook-f"></i> Login via facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
             </div>
            <input [(ngModel)]="registerUserData.username" name="username" class="form-control" placeholder="Full name" type="text">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
             </div>
            <input [(ngModel)]="registerUserData.email" name="email" class="form-control" placeholder="Email address" type="email">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-phone"></i></span>
            </div>
            <select class="custom-select" style="max-width: 120px;">
                <option selected="">+48</option>
            </select>
            <input [(ngModel)]="registerUserData.phone" name="phone" class="form-control" placeholder="Phone number" type="text">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </div>
            <input [(ngModel)]="registerUserData.pass1" name="pass1" class="form-control" placeholder="Create password" type="password">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
            </div>
            <input [(ngModel)]="registerUserData.pass2" name="pass2" class="form-control" placeholder="Repeat password" type="password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Create Account</button>
        </div>
        <p class="text-center">Have an account? <button [routerLink]="['/login']" class="btn btn-sm btn-outline-primary">Log In</button></p>
    </form>
    </article>
</div>
