<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Utwórz konto</h4>
        <p>
            <a href="" class="btn btn-block btn-twitter"><i class="fab fa-twitter"></i>  zaloguj przez Twitter</a>
            <a href="" class="btn btn-block btn-facebook"><i class="fab fa-facebook-f"></i>  zaloguj przez facebook</a>
        </p>
        <p class="divider-text">
            <span class="bg-light">ALBO</span>
        </p>

        <form class="form" (ngSubmit)="onSubmit()">
        
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input [(ngModel)]="registerUserData.username" name="username" class="form-control" placeholder="Username" type="text" autocomplete="on">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input [(ngModel)]="registerUserData.email" name="email" class="form-control" placeholder="Adres email" type="email" autocomplete="on">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+48</option>
                </select>
                <input [(ngModel)]="registerUserData.phone" name="phone" class="form-control" placeholder="Telefon" type="text" autocomplete="on">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input [(ngModel)]="registerUserData.password" name="pass1" class="form-control" placeholder="Podaj hasło" type="password" autocomplete="on">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input [(ngModel)]="registerUserData.passwordRepeat" name="pass2" class="form-control" placeholder="Powtórz hasło" type="password" autocomplete="on">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Załóż</button>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="registerValid">
                <span>Zarejestrowano pomyślnie!</span>
            </div>
            <p class="text-center">Masz konto? <button type="button" [routerLink]="['/login']" class="btn btn-sm btn-outline-primary">Zaloguj</button></p>
        </form>
    </article>
</div>
