<div class="card mb-5 mb-lg-0">
  <div class="card-body">
    <h5 class="card-title text-muted text-uppercase text-center">{{ productItem.name }}</h5>
    <hr>
    <img [src]="productItem.imgUrl" class="img-fluid">
    <hr>
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
    </ul>
    <h6 class="card-price text-center">{{ productItem.price | currency: "PLN " }}</h6>
    <hr>
    <div class="btn-group">
      <button class="btn btn-block btn-primary text-uppercase" (click)="handleAddToCart()">Add to cart</button>
    </div>
    
  </div>
</div>