<div class="cart-item">
    <div>{{ cartItem.name }}</div>
    <div><strong>{{ cartItem.price | number:'1.2' }} zł</strong></div>
    <div><span>Ilość: {{ cartItem.qty }}</span></div>
    <div>
        <div class="btn-group" role="group" aria-label="cart buttons">
            <button class="btn btn-danger" (click)="handleDelFromCart()">
                <i class="far fa-trash-alt"></i>
            </button>
            <button class="btn btn-warning" (click)="handleDecrease()">
                <i class="far fa-minus-square"></i>
            </button>
            <button class="btn btn-success" (click)="handleIncrease()">
                <i class="far fa-plus-square"></i>
            </button>
        </div>
    </div>
</div>
