<div class="cart-item">
    <div>
        {{ cartItem.productName }}
    </div>
    <div>
        <strong>{{ cartItem.price | currency: 'EUR' }}</strong>
    </div>
    <div>
        <span>Ilość: {{ cartItem.qty }}</span>
    </div>
    <div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger btn-sm" (click)="handleDelFromCart()">Usuń</button>
            <button class="btn btn-primary btn-sm" (click)="handleDecrease()">-</button>
            <button class="btn btn-success btn-sm" (click)="handleIncrease()">+</button>
        </div>
    </div>
</div>
